
<div class="container myForm">
    <div class="card" style="width: 40%;">
        <div class="card-header" style="text-align: center;">
            Envoyer une message : 
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" name="prenom" [(ngModel)]="mail.prenom" class="form-control" placeholder="Prénom" aria-label="First name" required>
                    </div>
                    <div class="col">
                        <input type="text" name="nom" [(ngModel)]="mail.nom" class="form-control" placeholder="Nom" aria-label="Last name" required>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="email" name="mail" [(ngModel)]="mail.mail" class="form-control" id="inputEmail" placeholder="Email" required>
                </div>

                <div class="mb-3">
                    <input type="text" name="objet" [(ngModel)]="mail.objet" class="form-control" placeholder="Objet" aria-label="Objet" required>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="messageTextArea">Message</label>
                    <textarea class="form-control" id="messageTextArea" rows="3"></textarea>
                </div>

                <div class="col-12" class="btn-group">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
