
li {
    display: inline-block;
    border-color: rgb(240, 240, 240);
    border-width: 0 10px 0px 10px;
    border-style: solid;
    padding:2%;
}


a:link ,a:visited,a:focus,a:hover,a:active{
    text-decoration: none;
    color:white;
    font-size: 110%;
    font-weight: bold;
}

* {
    background-color: darkslategrey;
}
