
<div class="etudiant" *ngIf="idEtudiant>=0">
    <div *ngIf="servEtu.listeEtudiants[idEtudiant]" >
        <!--"-->
        <h1 class="title">{{servEtu.listeEtudiants[idEtudiant].nom}} {{servEtu.listeEtudiants[idEtudiant].prenom}}</h1>
        <hr>
        <ul>
            <li><span class="field">Mail : </span>{{servEtu.listeEtudiants[idEtudiant].mail}}</li>
            <li><span class="field">Age : </span>{{servEtu.listeEtudiants[idEtudiant].age}}</li>
        </ul>
        <div>
        <h1>Spécialités :</h1>
        <div class="divSpec">
            <ul  class="option">
                <li *ngFor="let s of servEtu.listeEtudiants[idEtudiant].specialites">{{s}}</li>
            </ul>
        </div>
    
        <img [src]="servEtu.listeEtudiants[idEtudiant].photo">
    </div>
    <button *ngIf="connectServ.connexion" type="button" class="btn btn-secondary" (click)="editInput()">Editer</button>
</div>

<div id="etudiantForm" *ngIf="openModal" style="visibility: visible;">
    <app-etudiant-form [etudiant]= servEtu.listeEtudiants[idEtudiant] [id]=idEtudiant></app-etudiant-form>    
</div>
