<div class="etudiant" *ngIf="idEtudiant>=0">
    <h1 class="title">{{servEtu.listeEtudiants[idEtudiant].nom}} {{servEtu.listeEtudiants[idEtudiant].prenom}}</h1>
    <hr>
    <ul>
        <li><span class="field">Mail : </span>{{servEtu.listeEtudiants[idEtudiant].mail}}</li>
        <li><span class="field">Age : </span>{{servEtu.listeEtudiants[idEtudiant].age}}</li>
    </ul>
    <div>
    <h1>Spécialités :</h1>
    <div class="divSpec">
        <ul *ngFor="let s of servEtu.listeEtudiants[idEtudiant].specialites" class="option">
            <li >{{s}}</li>
        </ul>
    </div>
    <img [src]="servEtu.listeEtudiants[idEtudiant].photo">

</div>
