.title {
    font-size: 200%;
}

.etudiant
{   
    padding:1%;
    box-shadow:2px 1px 10px -5px black;
    text-align: center;
    width:300px;
    margin:2%;
    display: inline-block;
}


ul {
    margin-left: 0;
    text-align: left;
}


ul.option {
    padding:0;
    display: -webkit-inline-box;
}

.option li{
    box-shadow:2px 1px 10px -6px gray;
    text-align: center;
    border-radius: 2px;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    padding:10px;
    margin:1%;

}
/*
.divSpec {
    padding:2%;
    line-height: 200%;
}
*/
li {
    list-style: none;
}

img 
{   
    padding:2%;
    width:40%;
}

.field {
    font-weight: bold;
}


img {
    margin:2%;
}

hr {
    width:80%;
}

