
<div class="container p-2 ">
    <!--Grid row-->
    <nav>
        <ul>
            <a href>
                <li>Mentions Légales</li>
            </a>
            <a href>
                <li>RGPD</li>
            </a>
            <a href routerLink="/contact">
                <li>Contact</li>
            </a>    
        </ul>
    </nav>
</div>

  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright: <span>Brun Justine</span>
  </div>


